---
title: Le Wagon - Middleman
---

      <div id="home">
        <div class="home-content">
          <%= image_tag "logo.png", width: "200" %>
          <p>
            Middleman is now running!
          </p>
          <p class="about">
            <%= partial "components/banner" %>
            <%= link_to "More about this template", "about.html" %>
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <%= partial "components/card" %>
          </div>
          <div class="col-xs-12 col-sm-4">
            <%= partial "components/card" %>
          </div>
          <div class="col-xs-12 col-sm-4">
            <%= partial "components/card" %>
          </div>
        </div>
      </div>

